* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}


.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#background {
    width: 100%;
    height: 100%;
}

.nav-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;    
}

.nav-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: whitesmoke;
}

.nav-item {
    font-family: 'Rozha One', serif;
    font-size: 24px;
    color: whitesmoke;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    border-top: solid 1px whitesmoke;
    padding: 0;
}

/* homepage-specific content start */
.welcome-content {
    border: solid 1px whitesmoke;
    border-radius: 50%;
    height: 600px;
    width: 600px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -300px;
    
} 

.welcome-intro {
    font-family: 'Rozha One', serif;
    font-size: 75px;
    text-align: center;
    position: absolute;
    width: inherit;
    height: auto;
    top: 40%;
    transform: translateY(-50%);
}

.welcome-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    color: rgb(119, 102, 102);
    position: absolute;
    width: inherit;
    height: auto;
    top: 65%;
}
/* homepage-specific content end */


/* about-specific content start */
.about-container {
    position: absolute;
    top: 30%;
    margin: 10%;
    padding: 0;

}

.about-text {
    font-family: 'Rozha One', serif;
    font-size: 30px;
    text-align: center;

}
/* about-specific content end */

/* work-specific content start */
.work-container {
    position: absolute;
    top: 10%;
    margin: 10%;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 24px;
    text-align: center

}

.work-text {
    font-family: 'Rozha One', serif;
    font-size: 40px;
    text-align: center;
}
.resume-container{
    color: whitesmoke;
}
.resume-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
}

.projects-container {
    position: absolute;
    top: 40%;
    margin: 10%;
    padding: 0;
}

.projects-text {
    font-family: 'Rozha One', serif;
    font-size: 30px;
    text-align: left;
    color: whitesmoke;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    list-style-type: circle;
    color: whitesmoke;
}
/* work-specific content end */

/* contact-specific content start */
.contact-container {
    position: absolute;
    top: 10%;
    margin: 10%;
    padding: 0;
}

.contact-text {
    font-family: 'Rozha One', serif;
    font-size: 40px;
    text-align: center;
    color: black;
}

.contact-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    list-style-type: circle;
    text-align: left;
}
/* contact-specific content end */

footer {
    font-family: 'Montserrat', sans-serif;
}

.footer-contact {
    font-size: 18px;
    position: fixed;
    bottom: 0;
    text-align: left;
    padding: 10px;
}

.attribution-link {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 64%;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link {
    color: whitesmoke;
}

a:hover {
    background-color:#b9b2f0;
}